<div class="form-block">
	<div class="input-wrap">
		{{input type="text" placeholder="Task Title" value=newEstimate.title}}
	</div>
	{{single-section}}
	<div class="text-right">
		<button class="btn btn-add iconed" {{action 'addSection'}}><i class="icon e-plus"></i>Add section</button>
	</div>	
	<div class="buttons text-center">
		<button {{action "createEstimate"}} class="btn big btn-add full">Create</button>
	</div>

	{{#if newEstimate.title}}
    <div style="padding-top: 30px;">
      <p>Name: {{newEstimate.title}}</p>
    </div>
  {{/if}}
</div>