<div class="form-block">
  {{#if user_create_status.state}}
    <div class="alert alert-success" role="alert">
      <strong>{{user_create_status.message}}</strong>
    </div>
    <div class="buttons">
      {{#link-to 'estimate-list' query_ID class="btn big btn-add"}}My estimates{{/link-to}}
      {{!-- <button {{action "cancel"}} class="btn big btn-delete">logout</button> --}}
    </div>
    
  {{else}}
    <div class="input-wrap">
      {{input type="text" value=newUser.name placeholder="Enter Name"}}
    </div>
    <div class="input-wrap">
      {{input type="password" value=newUser.password placeholder="Enter Password"}}
    </div>

    <button {{action "createNewUser"}} class="btn big btn-add">Create</button>
    <button {{action "cancel"}} class="btn big btn-delete">Cancel</button>
  {{/if}}
{{!-- 

    {{#if newUser.name}}
      <div class="name">
        <p>Name: {{newUser.name}}</p>
      </div>
    {{/if}} --}}

</div>
