{{!-- <td>{{estimate.title}}</td>
<td>{{date-format estimate.created}}</td>
<td>{{estimate.comment}}</td>
<td>{{estimate.autor.name}}</td> --}}

<div class="row-inner">
	<div class="col">
		{{estimate.title}}
	</div>
	<div class="col min text-right">
		{{estimate.autor.name}}
	</div>
	<div class="col min text-right">
		{{date-format estimate.created}}
	</div>	
</div>
