<li>
	<div class="row-wrap">
		<div class="row">
			<div class="row-inner">
				<div class="col max">
					<h3 class="front">{{items.item}}</h3>
					<div class="input-wrap back">
						<textarea name="" id="">{{items.item}}</textarea>
					</div>
				</div>
				<div class="col min text-center">
					<span class="front">{{items.hours}}</span>
					<div class="input-wrap back">
						<input type="text" value="{{items.hours}}">
					</div>									
				</div>
				<div class="col min text-center">
					<span class="front">Undefined</span>
					<div class="input-wrap back">
						<select name="" id="">
							<option value="clear">Clear</option>
							<option value="mostlyclear">Mostly clear</option>
							<option value="notveryclear">Not very clear</option>
							<option value="unclear">Unclear</option>
						</select>
					</div>
				</div>
				<div class="col min text-center">
					<span class="tool front"><i class="icon e-bubble"></i></span>
				</div>
			</div>
			<button class="btn btn-edit front"><i class="icon e-pencil"></i></button>
			<button class="btn btn-edit back"><i class="icon e-floppy-disk"></i></button>
		</div>
		<div class="edit-tools">
			<div class="add-wrap">
				<h4>
					Assumptions
					<button class="btn btn-add"><i class="icon e-pencil"></i>Edit</button>
				</h4>
				<div class="add-body">
					<p>Some text of assumption</p>
					<div class="input-wrap" style="display: none;">
						<textarea name="" id="" cols="30" rows="10"></textarea>
					</div>
				</div>
			</div>
			<div class="add-wrap">
				<h4>
					Questions
					<button class="btn btn-add"><i class="icon e-plus"></i>Add</button>
				</h4>
			</div>
			<div class="buttons text-right">
				<button class="btn btn-add"><i class="icon e-plus"></i>Add sub-item</button>
				<button class="btn btn-delete"><i class="icon e-cross"></i>Delete item</button>
			</div>
		</div>
	</div>
</li>

{{yield}}