<div class="add-section-wrap">
	<div class="input-wrap">

		<select onchange={{action (mut sectionIndex) value="target.value"}}>
		  {{#each sections as |sectionChoice index|}}
		    <option value={{index}} selected={{eq sectionIndex index}}>{{sectionChoice.name}}</option>
		  {{/each}}
		</select>

	</div>
	<div class="input-wrap">
		<div class="input-wrap">
      {{textarea value=newEstimate.comment placeholder="Add description"}}
    </div>
	</div>		
</div>
