<div class="add-section-wrap">
	<div class="input-wrap">
			<select name="" id="">
			<option value="">Section title</option>
			<option value="">Research and Planning</option>
		</select>
{{!-- 		<select onchange={{action (mut vehicle) value="target.value"}}>
		  {{#each sections key="@item" as |sectionChioce|}}
		    <option value={{sectionChioce}} selected={{eq sections sectionChioce}}>{{sectionChioce}}</option>
		  {{/each}}
		</select> --}}
	</div>
	<div class="input-wrap">
		<textarea name="" id="" placeholder="Add description"></textarea>
	</div>		
</div>

{{yield}}
