<div class="add-section-wrap">
	<div class="input-wrap">
{{!-- 			<select name="" id="">
			<option value="">Section title</option>
			<option value="">Research and Planning</option>
		</select> --}}
{{!-- 		<select onchange={{action "selectVehicle" value="target.value"}}>
			{{#each vehicles as |vehicleChoice|}}
		    <option value={{vehicleChoice}} selected={{vehicle vehicleChoice}}>{{vehicleChoice}}</option>
		  {{/each}}
		</select> --}}
		{{basic-select}}
	</div>
	<div class="input-wrap">
		<div class="input-wrap">
      {{textarea value=newEstimate.comment placeholder="Add description"}}
    </div>
		{{!-- <textarea name="" id="" placeholder="Add description"></textarea> --}}
	</div>		
</div>
