<section class="section">
{{!-- 	<div class="section-title">
		<h2 class="container"><i class="icon e-price-tag"></i>Front-end Development</h2>
	</div>
 --}}



<h1 class="task-title">Task Title</h1>

<section class="section">
	<div class="container">
		<h2 class="section-title"><i class="icon e-price-tag"></i>Front-end Development</h2>
		<div class="items-list">
			<ul class="items-title">
				<li class="row">
					<div class="row-inner">
						<strong class="col max">Item</strong>
						<strong class="col min text-center">Hours</strong>
						<strong class="col min text-center">Clarity</strong>
						<strong class="col min text-center">Assumptions and/or Questions</strong>
					</div>
				</li>
			</ul>
			<ul class="items-body">
{{!-- 			{{#each model as |itemsUnit|}}
				{{items-listing items=itemsUnit}}
			{{/each}} --}}
			</ul>
		</div>
	</div>
</section>




{{!-- 
<li>
	<div class="row-wrap">
		<div class="row">
			<div class="row-inner">
				<div class="col max">
					<h3 class="front">{{items.item}}</h3>
					<div class="input-wrap back">
						<textarea name="" id="">{{items.item}}</textarea>
					</div>
				</div>
				<div class="col min text-center">
					<span class="front">{{items.hours}}</span>
					<div class="input-wrap back">
						<input type="text" value="{{items.hours}}">
					</div>									
				</div>
				<div class="col min text-center">
					<span class="front">Undefined</span>
					<div class="input-wrap back">
						<select name="" id="">
							<option value="clear">Clear</option>
							<option value="mostlyclear">Mostly clear</option>
							<option value="notveryclear">Not very clear</option>
							<option value="unclear">Unclear</option>
						</select>
					</div>
				</div>
				<div class="col min text-center">
					<span class="tool front"><i class="icon e-bubble"></i></span>
				</div>
			</div>
			<button class="btn btn-edit front"><i class="icon e-pencil"></i></button>
			<button class="btn btn-edit back"><i class="icon e-floppy-disk"></i></button>
		</div>
		<div class="edit-tools">
			<div class="add-wrap">
				<h4>
					Assumptions
					<button class="btn btn-add"><i class="icon e-pencil"></i>Edit</button>
				</h4>
				<div class="add-body">
					<p>Some text of assumption</p>
					<div class="input-wrap" style="display: none;">
						<textarea name="" id="" cols="30" rows="10"></textarea>
					</div>
				</div>
			</div>
			<div class="add-wrap">
				<h4>
					Questions
					<button class="btn btn-add"><i class="icon e-plus"></i>Add</button>
				</h4>
			</div>
			<div class="buttons text-right">
				<button class="btn btn-add"><i class="icon e-plus"></i>Add sub-item</button>
				<button class="btn btn-delete"><i class="icon e-cross"></i>Delete item</button>
			</div>
		</div>
	</div>
</li>

{{yield}} --}}


	
	<div class="container">		
		<div class="items-list">
			<ul class="items-title">
				<li class="row">
					<div class="row-inner">
						<strong class="col max">Item</strong>
						<strong class="col min text-center">Hours</strong>
						<strong class="col min text-center">Clarity</strong>
						<strong class="col min text-center">Assumptions and/or Questions</strong>
					</div>
				</li>
			</ul>
			<ul class="items-body">
				<li>
					<div class="row-wrap on-edit">
						<div class="row">
							<div class="row-inner">
								<div class="col max">
									<h3 class="front">HTML5/CSS3 slicing - 4 pages (responsive, 3 break points)</h3>
									<div class="input-wrap back">
										<textarea name="" id="" cols="30" rows="10"></textarea>
									</div>
								</div>
								<div class="col min text-center">
									<span class="front">20</span>
									<div class="input-wrap back">
										<input type="text">
									</div>
								</div>
								<div class="col min text-center">
									<span class="front">Undefined</span>
									<div class="input-wrap back">
										<select name="" id="">
											<option value="clear">Clear</option>
											<option value="mostlyclear">Mostly clear</option>
											<option value="notveryclear">Not very clear</option>
											<option value="unclear">Unclear</option>
										</select>
									</div>
								</div>
								<div class="col min text-center">
									<span class="tool front"><i class="icon e-bubble"></i></span>
								</div>
							</div>
							<button class="btn btn-edit front"><i class="icon e-pencil"></i></button>
							<button class="btn btn-edit back"><i class="icon e-floppy-disk"></i></button>
						</div>
						<div class="edit-tools">
							<div class="add-wrap">
								<h4>
									Assumptions
									<button class="btn btn-add iconed"><i class="icon e-pencil"></i>Edit</button>
								</h4>
								<div class="add-body">
									<p>Some text of assumption</p>
									<div class="input-wrap" style="display: none;">
										<textarea name="" id="" cols="30" rows="10"></textarea>
									</div>
								</div>
							</div>
							<div class="add-wrap">
								<h4>
									Questions
									<button class="btn btn-add iconed"><i class="icon e-plus"></i>Add</button>
								</h4>
							</div>
							<div class="buttons text-right">
								<button class="btn btn-add iconed"><i class="icon e-plus"></i>Add sub-item</button>
								<button class="btn btn-delete iconed"><i class="icon e-cross"></i>Delete item</button>
							</div>
						</div>						
					</div>										
					<ul>
						<li>
							<div class="row-wrap">
								<div class="row not-very-clear">
									<div class="row-inner">
										<div class="col max">
											<h3>About Us page</h3>
										</div>
										<div class="col min text-center">
											20
										</div>
										<div class="col min text-center">
											Not Very Clear
										</div>
										<div class="col min text-center">
											<span class="tool"><i class="icon e-bubble"></i></span>
										</div>
									</div>
									<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
								</div>
								<div class="edit-tools">
									<div class="add-wrap">
										<h4>
											Assumptions
											<button class="btn btn-add iconed"><i class="icon e-pencil"></i>Edit</button>
										</h4>
										<div class="add-body">
											<p>Some text of assumption</p>
											<div class="input-wrap" style="display: none;">
												<textarea name="" id="" cols="30" rows="10"></textarea>
											</div>
										</div>
									</div>
									<div class="add-wrap">
										<h4>
											Questions
											<button class="btn btn-add iconed"><i class="icon e-plus"></i>Add</button>
										</h4>
									</div>
									<div class="buttons text-right">
										<button class="btn btn-add iconed"><i class="icon e-plus"></i>Add sub-row</button>
										<button class="btn btn-delete iconed"><i class="icon e-cross"></i>Delete row</button>
									</div>
								</div>								
							</div>							
							<ul>
								<li>
									<div class="row-wrap">
										<div class="row clear">
											<div class="row-inner">
												<div class="col max">
													<h3>About Us page requirement 1</h3>
												</div>
												<div class="col min text-center">
													20
												</div>
												<div class="col min text-center">
													<span>Clear</span>
												</div>
												<div class="col min text-center">
													<span class="tool"><i class="icon e-bubble"></i></span>
												</div>
											</div>
											<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
										</div>										
									</div>									
								</li>
								<li>
									<div class="row-wrap">
										<div class="row mostly-clear">
											<div class="row-inner">
												<div class="col max">
													<h3>About Us page requirement 2</h3>
												</div>
												<div class="col min text-center">
													20
												</div>
												<div class="col min text-center">
													<span>Mostly Clear</span>
												</div>
												<div class="col min text-center">
													<span class="tool"><i class="icon e-bubble"></i></span>
												</div>
											</div>
											<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
										</div>										
									</div>									
								</li>
							</ul>
						</li>
						<li>
							<div class="row-wrap">
								<div class="row not-clear">
									<div class="row-inner">
										<div class="col max">
											<h3>Contact page</h3>
										</div>
										<div class="col min text-center">
											20
										</div>
										<div class="col min text-center">
											Not Clear
										</div>
										<div class="col min text-center">
											<span class="tool active"><i class="icon e-bubble"></i></span>
										</div>
									</div>
									<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
								</div>								
							</div>							
							<ul>
								<li>
									<div class="row-wrap">
										<div class="row clear">
											<div class="row-inner">
												<div class="col max">
													<h3>Contact page requirement 1</h3>
												</div>
												<div class="col min text-center">
													20
												</div>
												<div class="col min text-center">
													<span>Clear</span>
												</div>
												<div class="col min text-center">
													<span class="tool"><i class="icon e-bubble"></i></span>
												</div>
											</div>
											<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
										</div>										
									</div>									
								</li>
								<li>
									<div class="row-wrap">
										<div class="row mostly-clear">
											<div class="row-inner">
												<div class="col max">
													<h3>Contact page requirement 2</h3>
												</div>
												<div class="col min text-center">
													20
												</div>
												<div class="col min text-center">
													<span>Mostly Clear</span>
												</div>
												<div class="col min text-center">
													<span class="tool"><i class="icon e-bubble"></i></span>
												</div>
											</div>
											<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
										</div>										
									</div>									
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<div class="row-wrap">
						<div class="row clear">
							<div class="row-inner">
								<div class="col max">
									<h3>Photo Gallery on Home page (jQuery)</h3>
								</div>
								<div class="col min text-center">
									20
								</div>
								<div class="col min text-center">
									<span>Not Clear</span>
								</div>
								<div class="col min text-center">
									<span class="tool"><i class="icon e-bubble"></i></span>
								</div>
							</div>
							<button class="btn btn-edit"><i class="icon e-pencil"></i></button>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>
</section>