<div class="container">
	<div class="home text-center">
		<h3>Wanna create an estimate?</h3>
		<h4>You must be logged in</h4>
		{{#if userChoise.state}}
			<div class="buttons">
				<button {{action "login"}} class="btn big btn-add">Login</button>
		    <button {{action "register"}} class="btn big btn-add">Register</button>
			</div>	    
	  {{else}}
	    {{#if userChoise.login}}
	      {{user-login users=model.users userChoise=userChoise}}
	    {{/if}}
	    {{#if userChoise.register}}
	      {{create-user users=model.users userChoise=userChoise}}
	    {{/if}}
	  {{/if}}
	</div>  
</div>